#wrapper {
  margin: 15px;
  border: 3px solid gray;
  clear: both;
  height: 576px;
  width: 996px;

}

#colorPicker {
  margin: 15px;
  border: 3px solid gray;
  height: 40px;
  width: 996px;
}

input {
  margin: 15px;
}

#reset {
  margin-left: 625px;
}